tmp
backend/wire/wire_gen.go
backend/wire/integration_test/test_wire_gen.go
**/terraform.tfvars
**/.terraform
**/*.tfstate
**/.env*
**/.terraform.lock.hcl
**/terraform.tfstate.backup
template-pj-firebase-firebase-adminsdk-ctrgy-db26213938.json
newrelic/newrelic-infra.yml
# githubactions
template-pj-418409-65763b04078d.json

# terraform
tf-dev.json
template-pj-418409-5a38afe49bb7.json